* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.carousel-slide {
    display: flex;
    width: 100%;
}