.slider {
    width: 600px;
    height: 600px;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    .element {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        left: -100%;
        transition: left 1s cubic-bezier(.76, .09, .32, .94);
        ;
    }
}

.element.active {
    z-index: 2;
    left: 0px;
}

.element.start-out {
    z-index: 1;
}