@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap");
@import "../css/colores";
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    animation: body 5s;
}


/* ------Barra de navegacion------ */

nav {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    height: 65px;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 99;
    position: fixed;
    &:hover {
        background: black;
        a {
            color: White !important;
        }
    }
    img {
        width: 100%;
    }
    .logo {
        overflow: hidden;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        font-size: 70px;
        color: white;
        left: 50%;
        width: 300px;
        transition: all 0.5s ease;
        /* height: 200px; */
        //background: yellow;
    }
    .nav-links {
        margin-right: 2%;
        display: flex;
        justify-content: space-around;
        li {
            list-style: none;
            a {
                padding-right: 20px;
                padding-left: 20px;
                margin-left: 20px;
                margin-right: 20px;
                position: relative;
                font-size: 17px;
                color: white;
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 600;
                letter-spacing: 2px;
                transition: all 1s ease;
                text-decoration: none;
                &::before {
                    content: "";
                    position: absolute;
                    background: rgb(254, 244, 1);
                    width: 0;
                    left: 0px;
                    bottom: -10px;
                    height: 1px;
                    transition: all 0.5s ease;
                    z-index: -2;
                }
                &:hover::before {
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
    .nav-scroll {
        li {
            a {
                color: black !important;
                &:hover {
                    color: white !important;
                }
            }
        }
    }
}


/* -----Video de fondo----- */

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        pointer-events: none;
    }
    .content {
        position: relative;
        z-index: 0;
        width: 100%;
        text-align: center;
        font-family: "Darker Grotesque", sans-serif;
        font-weight: 400;
        background: rgba(0, 0, 0, 0.582);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 20%;
        }
        p {
            font-size: 50px;
            width: 70%;
            color: $fondo-blanco;
        }
    }
}


/* -----Contenedor de principal----- */

.main-container {
    height: 100vh;
    //background: $fondo-oscuro;
    .full-bg-img {
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        //transition: all 30s ease;
        /* -----Estilos de texto dentro de imagen hero----- */
        .bg-text-content {
            transition: all 3s ease;
            width: 70%;
            //  background: yellow;
            color: white;
            font-family: "Darker Grotesque", sans-serif;
            text-align: center;
            h2 {
                font-weight: bold;
                font-size: 100px;
                margin: -2%;
                text-shadow: 0.7px 0.7px 10px rgba(0, 0, 0, 0.356);
            }
            p {
                font-size: 23px;
                margin: 0;
                font-weight: 300;
            }
        }
    }
    /* -----Slider----- */
    #slideshow {
        overflow: hidden;
        // cursor: grab;
        div {
            width: 100vw;
            height: 100vh;
            .torre-galia,
            .liquorstore,
            .casa-ds,
            .casa-dm,
            .cup-d-etat,
            .insurgentes {
                cursor: grab;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                .bg-text-content {
                    position: relative;
                    transition: all 3s ease;
                    width: 50%;
                    height: auto;
                    color: white;
                    font-family: "Darker Grotesque", sans-serif;
                    text-align: center;
                    h2 {
                        font-weight: bold;
                        font-size: 100px;
                        margin: 0;
                        text-shadow: 0.7px 0.7px 10px rgba(0, 0, 0, 0.356);
                    }
                    p {
                        font-size: 23px;
                        margin-top: -0.8%;
                        font-weight: 400;
                    }
                }
            }
            .torre-galia-1 {
                background: url('../images/Torre-Galia/test.jpg');
                background-size: cover;
            }
            .torre-galia-2 {
                background: url('../images/Torre-Galia/test.jpg');
                background-size: cover;
                display: flex !important;
                align-items: flex-end;
                justify-content: flex-end;
                .bg-text-content {
                    h2 {
                        background: rgba(0, 0, 0, 0.342);
                    }
                }
            }
            .torre-galia-3 {
                background: url('../images/Torre-Galia/test.jpg');
                background-size: cover;
                display: flex !important;
                align-items: flex-end;
                justify-content: flex-end;
                .bg-text-content {
                    h2 {
                        background: rgba(0, 0, 0, 0.342);
                        font-size: 40px;
                        font-weight: 400;
                    }
                }
            }
            .liquorstore-1 {
                background: url('../images/5-Liquorstore/5L_00-min.jpg');
                background-size: cover;
            }
            .liquorstore-2 {
                background: url('../images/5-Liquorstore/5L_01-min.jpg');
                background-size: cover;
            }
            .liquorstore-3 {
                background: url('../images/5-Liquorstore/5L_02-min.jpg');
                background-size: cover;
            }
            /* -----Cup d etat----- */
            .cup-d-etat-1 {
                background: url('../images/Cup-d_État/CE_00.jpg');
                background-size: cover;
            }
            .cup-d-etat-2 {
                background: url('../images/Cup-d_État/CE_01.jpg');
                background-size: cover;
            }
            .cup-d-etat-3 {
                background: url('../images/Cup-d_État/CE_02.jpg');
                background-size: cover;
            }
            /* -----Casa DS----- */
            .casa-ds-1 {
                background: url('../images/Casa-DS/DS_00-min.jpg');
                background-size: cover;
            }
            .casa-ds-2 {
                background: url('../images/Casa-DS/DS_01-min.jpg');
                background-size: cover;
            }
            .casa-ds-3 {
                background: url('../images/Casa-DS/DS_02-min.jpg');
                background-size: cover;
            }
            /* -----Casa DM----- */
            .casa-dm-1 {
                background: url('../images/Casa-DM/DM_00-min.jpg');
                background-size: cover;
            }
            .casa-dm-2 {
                background: url('../images/Casa-DM/DM_01-min.jpg');
                background-size: cover;
            }
            .casa-dm-3 {
                background: url('../images/Casa-DM/DM_02-min.jpg');
                background-size: cover;
            }
            /* -----Insurgentes 22----- */
            .insurgentes-1 {
                background: url('../images/Insurgentes-22/I22_00.jpg');
                background-size: cover;
            }
            .insurgentes-2 {
                background: url('../images/Insurgentes-22/I22_01.jpg');
                background-size: cover;
            }
            .insurgentes-3 {
                background: url('../images/Insurgentes-22/I22_02.jpg');
                background-size: cover;
            }
        }
    }
    /* -----Imagen de fondo individual----- */
    .full-bg-text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .bg-text-content {
            margin-left: 10%;
            transition: all 3s ease;
            width: 40%;
            color: white;
            font-family: "Darker Grotesque", sans-serif;
            text-align: left;
            h2 {
                line-height: 68px;
                margin-bottom: 7%;
            }
            p {
                font-weight: 500;
            }
        }
    }
    .full-bg-text-right {
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .bg-text-content {
            margin-right: 5%;
            transition: all 3s ease;
            width: 40%;
            color: white;
            font-family: "Darker Grotesque", sans-serif;
            text-align: right;
            h2 {
                font-size: 18px;
                margin-right: 0;
                margin-bottom: 30px;
            }
            p {
                font-weight: 300;
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
    }
    /* -----Area What we do----- */
    .full-bg-what-we-do {
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .bg-text-content {
            margin-left: 10%;
            transition: all 3s ease;
            width: 50%;
            color: black;
            font-family: "Darker Grotesque", sans-serif;
            h2 {
                font-weight: bold !important;
                font-size: 85px;
                line-height: 70px;
                margin: 0;
                text-shadow: none;
                margin-bottom: 2%;
            }
            p {
                width: 60%;
                font-weight: 300;
                margin: 0;
                font-size: 22px;
                text-align: justify;
            }
        }
        .bg-text-content2 {
            overflow: hidden;
            display: flex;
            justify-content: center;
            transition: all 3s ease;
            width: 100%;
            color: black;
            font-family: "Darker Grotesque", sans-serif;
            h2 {
                font-size: 60px;
                line-height: 50px;
                margin: 0;
                text-shadow: none;
            }
            .d1,
            .d2,
            .d3 {
                margin: 3%;
                h2 {
                    font-weight: bold !important;
                    font-size: 60px;
                }
                ul {
                    li {
                        list-style: none;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    /* -----Area de contacto----- */
    .contacto {
        height: 100%;
        width: 100%;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        transition: all 0.5s ease;
        .info {
            font-family: "Darker Grotesque", sans-serif;
            margin: 4%;
            img {
                width: 100px;
                margin: 0;
            }
            h2 {
                margin-bottom: 30px;
                font-size: 19px;
            }
            p {
                font-size: 18px;
            }
            ul {
                li {
                    font-size: 18px;
                    list-style: none;
                    margin-left: -40px;
                    margin-bottom: px;
                    color: rgba(255, 255, 255, 0.521);
                    // color: black;
                    font-weight: 400;
                    a {
                        color: rgba(255, 255, 255, 0.521);
                        //color: black;
                        text-decoration: none;
                        position: relative;
                        transition: all 0.5s ease;
                        &:hover {
                            color: white;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            background: rgb(254, 244, 1);
                            width: 0;
                            left: 0px;
                            bottom: -3px;
                            height: 1px;
                            transition: all 0.5s ease;
                            z-index: 0;
                        }
                        &:hover::before {
                            width: 100%;
                            height: 1px;
                        }
                    }
                }
            }
        }
    }
    .full-bg-spaces {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.295)), url("../images/Terraza.jpg");
    }
    .full-bg-about-us {
        background-image: url("../images/Herrería.jpg");
        .bg-text-content {
            text-align: justify;
        }
    }
    .full-bg-artistas {
        background-image: url("../images/Artesanos.jpg");
        .bg-text-content {
            text-align: justify;
            width: 22%;
            h2 {
                text-align: right;
            }
            p {
                font-weight: 500;
            }
        }
    }
}

@keyframes body {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.burger {
    display: none;
    div {
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 5px;
        transition: 0.4s all cubic-bezier(0.97, 0.06, 0.48, 0.86);
    }
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: flex-end;
        .logo {
            //margin-left: 20px;
            transition: all 1s ease;
        }
        .nav-links {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: -1;
            width: 100%;
            top: -30%;
            height: 100vh;
            position: absolute;
            background: black;
            transform: translateY(-100%);
            transition: 0.8s all cubic-bezier(0.97, 0.06, 0.48, 0.86);
            li {
                margin: 10px;
                opacity: 0;
                a {
                    font-size: 35px;
                    font-weight: 700;
                }
            }
        }
        .nav-active {
            transform: translateY(1%);
            opacity: 1;
        }
    }
    .burger {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        div {
            background-color: white;
        }
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .toggle .line1 {
        //   transform: rotate(-45deg) translate(-6px, 5px);
        // transform: rotate(-223deg) translate(13px, -7px);
        transform: translateY(10px);
        height: 2px;
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        //transform: rotate(45deg) translate(-4px, -4px);
        // transform: rotate(223deg) translate(3px, -3px);
        transform: translateY(-4px);
        height: 2px;
    }
    .banner {
        .content {
            p {
                font-size: 25px;
                width: 70%;
            }
        }
    }
    .main-container {
        .full-bg-img {
            background-attachment: scroll;
            /* -----Estilos de texto dentro de imagen hero----- */
            .bg-text-content {
                h2 {
                    font-size: 40px;
                    line-height: 40px;
                    margin: 0;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 400;
                }
            }
        }
        #slideshow {
            overflow: hidden;
            div {
                width: 100vw;
                height: 100vh;
                .torre-galia,
                .liquorstore,
                .casa-ds,
                .casa-dm,
                .cup-d-etat,
                .insurgentes {
                    .bg-text-content {
                        transition: all 3s ease;
                        width: 70%;
                        height: auto;
                        color: white;
                        font-family: "Darker Grotesque", sans-serif;
                        text-align: center;
                        //transform: translateX(-4%);
                        h2 {
                            font-size: 50px;
                            line-height: 50px;
                            margin-bottom: 3%;
                        }
                        p {
                            font-size: 20px;
                            line-height: 20px;
                            font-weight: 400;
                        }
                    }
                }
                .torre-galia-1 {
                    background: url('../images/Torre-Galia/TG_00-min.jpg');
                    background-size: cover;
                }
                .torre-galia-2 {
                    background: url('../images/Torre-Galia/TG_01-min.jpg');
                    background-size: cover;
                    display: flex !important;
                    align-items: flex-end;
                    justify-content: flex-end;
                    .bg-text-content {
                        h2 {
                            background: rgba(0, 0, 0, 0.342);
                        }
                    }
                }
                .torre-galia-3 {
                    background: url('../images/Torre-Galia/TG_02-min.jpg');
                    background-size: cover;
                    display: flex !important;
                    align-items: flex-end;
                    justify-content: flex-end;
                    .bg-text-content {
                        h2 {
                            background: rgba(0, 0, 0, 0.342);
                            font-size: 40px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .full-bg-text {
            justify-content: flex-end;
            .bg-text-content {
                margin-left: 7%;
                margin-bottom: 7%;
                width: 70%;
                color: white;
                h2 {
                    line-height: 40px;
                    margin: 0;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 400;
                }
            }
        }
        .full-bg-artistas {
            background-image: url("../images/Artesanos.jpg");
            .bg-text-content {
                text-align: justify;
                width: 90%;
                h2 {
                    line-height: 20px;
                    font-size: 20px;
                    text-align: right;
                    text-align: center;
                }
                p {
                    font-weight: 500;
                }
            }
        }
        .full-bg-what-we-do {
            overflow: hidden;
            background-attachment: scroll;
            height: auto;
            width: 100%;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            /* -----Estilos de texto dentro de imagen hero----- */
            .bg-text-content {
                margin: auto;
                margin-bottom: 0;
                transition: all 3s ease;
                width: 70%;
                padding: 20px;
                color: black;
                font-family: "Darker Grotesque", sans-serif;
                h2 {
                    font-size: 45px;
                    line-height: 40px;
                    margin: 0;
                    text-shadow: none;
                    text-align: center;
                }
                p {
                    width: 100%;
                    text-align: center;
                    font-weight: 300;
                    margin: 0;
                    font-size: 18px;
                }
            }
            .bg-text-content2 {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin: 10px;
                transition: all 3s ease;
                width: 100%;
                color: black;
                font-family: "Darker Grotesque", sans-serif;
                .d1,
                .d2,
                .d3 {
                    width: 100%;
                    margin: 0;
                    ul {
                        padding: 0;
                        li {
                            list-style: none;
                            font-size: 18px;
                            text-align: center;
                        }
                    }
                    h2 {
                        line-height: 30px;
                        margin: 0;
                        text-shadow: none;
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }
        }
        .contacto {
            height: 100%;
            width: 100%;
            background: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            overflow: hidden;
            .info {
                font-family: "Darker Grotesque", sans-serif;
                transform: translateY(0);
                width: 45%;
                height: auto;
                margin: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                p {
                    text-align: center;
                    font-size: 17px;
                }
                img {
                    text-align: center;
                    width: 100px;
                    // margin-left: 50px;
                }
                h2 {
                    margin-bottom: 0;
                    font-size: 18px;
                    text-align: center;
                }
                ul {
                    li {
                        color: rgba(255, 255, 255, 0.521);
                        text-align: center;
                        font-size: 17px;
                        list-style: none;
                        margin-left: -40px;
                        margin-bottom: 0;
                        a {
                            color: rgba(255, 255, 255, 0.521);
                            text-decoration: none;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                background: rgb(254, 244, 1);
                                width: 0;
                                left: 0px;
                                bottom: -1px;
                                height: 1px;
                                transition: all 0.5s ease;
                                z-index: -2;
                            }
                            &:hover::before {
                                width: 100%;
                                height: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}