*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Darker Grotesque", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
